body{
    font-family: 'Mulish', sans-serif;
}
.nav{
    display: flex;
    align-items: center;
  
}
.nav-title1{
    color: #131318;
    font-family: Mulish;
    font-size: 30px;
    font-weight: 800;
}
.nav-title2{
    color: #FF5400;
    font-family: Mulish;
    font-size: 30px;
    font-weight: 800; 
}
.nav img{   
    margin-right: 10px;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}
.nav-bar-menu ul{
    display: flex;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.home{
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;  
}
.nav-bar-menu li{
    list-style: none;
    margin-right: 40px;
}
.humburger{
    display: none;
}
.banner-title1{
  text-align: center;
  background-image: url(Group\ 13\ \(1\)\ \(1\).png);
  width: 90%;
  background-repeat: no-repeat;
  height: 550px;
  margin-left: 70px;
  border-radius: 16px;
}


.main-title{
    color: #FFF;
    font-family: Mulish;
    font-size: 60px;
    font-weight: 800; 
    padding-top: 110px;     
}

.details{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;   
    
}
.banner-design{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);  
    width: 100%;  
}
.orangebutton{
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 34px 16px 30px;
}
.input{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
   
}
.input input{
    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 60px 10px 5px;
    border-radius: 8px;
    background: #FFF;
    border: none; 
    margin-top: 5px;   
}
.banner2-title{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;   
}
.details1{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;   
}
.banner2{
    display: flex;
    margin-left: 50px;
    margin-top: 100px;
}
.pera-details{
   margin-right: 50px;
}
.banner3{
    margin-top: 100px;
   text-align: center;
}
.banner4{
    display: flex;
}
.mal{
    background-image: url('Images/Rectangle\ 5.png');
    width: 573px;
    height: 250px;
    padding-top: 100px;
    background-repeat: no-repeat;
    margin-left: 50px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;  
}
.indu{
    background-image: url('Images/Rectangle\ 8.png');
    width: 573px;
    height: 300px;
    background-repeat: no-repeat;
    margin-left: 20px;
    padding-top: 100px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
.sri{
    background-image: url('Images/Rectangle\ 6.png');
    background-repeat: no-repeat;
    width: 374px;
    height: 286px;
    margin-left: 50px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    padding-top: 100px;    
}
.nortgAmerica{
    background-image: url('Images/Rectangle\ 7.png');
    background-repeat: no-repeat;
    width: 474px;
    height: 286px;
    margin-left: 20px;
    padding-top: 100px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;

}
.Kashmir{
    background-image: url('Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    width: 274px;
    height: 286px;
    margin-left: 20px;
    padding-top: 100px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
.bangladesh{
    background-image: url('Images/Rectangle\ 11.png');
    background-repeat: no-repeat;
    width: 473px;
    height: 300px;
    margin-left: 50px;
    padding-top: 100px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800; 
}
.Bandarban{
    background-image: url('Images/Rectangle\ 10.png');
    background-repeat: no-repeat;
    width: 673px;
    height: 300px;
    margin-left: 20px;
    padding-top: 100px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800; 
}
@media screen and (max-width:600px) {
    .banner4{
        flex-direction: column;
        
    }
    .mal,.indu,.Bandarban,.bangladesh,.sri{
        margin-left: 10px;
        width: 95%;
        border-radius: 16px;
        
    }
    ..Kashmir{
        text-align: center;
    }
   
    .banner2{
        flex-direction: column;
    }
    .banner-title1{
        width: 80%;
        background-position:top;

     
    }
    .main-title{
        padding-top: 40px;
        color: #FFF;
        font-family: Mulish;
        font-size: 22px;
        font-weight: 800;    
    }
    .details{
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-weight: 400;
        width: 400px;
        margin-left: 30px;
      
    }
   .input{
    flex-direction: column;
   }
   .banner-design{
    width: 100%;  
}
    .nav-title1{
        color: #131318;
        font-family: Mulish;
        font-size: 14px;
        font-weight: 800;
    }
    .nav-title2{
        color: #FF5400;
        font-family: Mulish;
        font-size: 14px;
        font-weight: 800;

    }
    .nav-bar-menu{
        display: none;
    }
    .humburger{
       margin-left: 350px;
        display: block;
    }
    .nav-bar{
       justify-content: flex-start;
    }
    
}